<%- include ("header") -%>

<div class="form-container">

    <img class="logo-img"src="skylabslogo.svg" alt="">
    
     <form action="/" method="post">

         <input type="text" name="cityInput" placeholder="Enter City" autocomplete="off">

         <button type="submit">Enter</button>

     </form>

 </div>


<%- include ("footer") -%>